node_modules/

dist/
build/
release/
out/
.next/
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

multicam-cert.pem
multicam-key.pem

desktop-app/build/livekit-server.exe
desktop-app/build/livekit-server
desktop-app/build/livekit.yaml

.env
.env.local

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
